@font-face {
	font-family: 'icons';
	src:url('../res/icons/icons.eot?iopsh2');
	src:url('../res/icons/icons.eot?#iefixiopsh2') format('embedded-opentype'),
		url('../res/icons/icons.ttf?iopsh2') format('truetype'),
		url('../res/icons/icons.woff?iopsh2') format('woff'),
		url('../res/icons/icons.svg?iopsh2#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class*="icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-uniF000:before {content: "\f000";}
.icon-pointer:before {content: "\e000";}
.icon-zoom-in:before {content: "\f00e";}
.icon-zoom-out:before {content: "\f010";}
.icon-ok:before {content: "\f00c";}
.icon-remove:before {content: "\f00d";}
.icon-search:before {content: "\f002";}
.icon-cog:before {content: "\f013";}
.icon-trash:before {content: "\f014";}
.icon-file:before {content: "\f016";}
.icon-th:before {content: "\f00a";}
.icon-th-large:before {content: "\f009";}
.icon-refresh:before {content: "\f021";}
.icon-repeat:before {content: "\f01e";}
.icon-lock:before {content: "\f023";}
.icon-camera:before {content: "\f030";}
.icon-plus-sign:before {content: "\f055";}
.icon-minus-sign:before {content: "\f056";}
.icon-remove-sign:before {content: "\f057";}
.icon-ok-sign:before {content: "\f058";}
.icon-question-sign:before {content: "\f059";}
.icon-info-sign:before {content: "\f05a";}
.icon-picture:before {content: "\f03e";}
.icon-pencil:before {content: "\f040";}
.icon-map-marker:before {content: "\f041";}
.icon-tint:before {content: "\f043";}
.icon-edit:before {content: "\f044";}
.icon-plus:before {content: "\f067";}
.icon-minus:before {content: "\f068";}
.icon-share-alt:before {content: "\f064";}
.icon-folder-open:before {content: "\f07c";}
.icon-folder-close:before {content: "\f07b";}
.icon-resize-horizontal:before {content: "\f07e";}
.icon-resize-vertical:before {content: "\f07d";}
.icon-pushpin:before {content: "\f08d";}
.icon-unlock:before {content: "\f09c";}
.icon-signin:before {content: "\f090";}
.icon-wrench:before {content: "\f0ad";}
.icon-fullscreen:before {content: "\f0b2";}
.icon-cut:before {content: "\f0c4";}
.icon-copy:before {content: "\f0c5";}
.icon-paper-clip:before {content: "\f0c6";}
.icon-save:before {content: "\f0c7";}
.icon-magic:before {content: "\f0d0";}
.icon-undo:before {content: "\f0e2";}
.icon-caret-down:before {content: "\f0d7";}
.icon-caret-up:before {content: "\f0d8";}
.icon-caret-right:before {content: "\f0da";}
.icon-caret-left:before {content: "\f0d9";}
.icon-sort-down:before {content: "\f0dd";}
.icon-sort-up:before {content: "\f0de";}
.icon-sort:before {content: "\f0dc";}
.icon-folder-close-alt:before {content: "\f114";}
.icon-folder-open-alt:before {content: "\f115";}
.icon-expand-alt:before {content: "\f116";}
.icon-collapse-alt:before {content: "\f117";}
.icon-terminal:before {content: "\f120";}
.icon-reply-all:before {content: "\f122";}
.icon-location-arrow:before {content: "\f124";}
.icon-crop:before {content: "\f125";}
.icon-level-up:before {content: "\f148";}
.icon-check-minus:before {content: "\f147";}
.icon-minus-sign-alt:before {content: "\f146";}
.icon-ellipsis-horizontal:before {content: "\f141";}
.icon-ellipsis-vertical:before {content: "\f142";}
.icon-male:before {content: "\f183";}
.icon-female:before {content: "\f182";}
.icon-retweet:before {content: "\f079";}
.icon-upload-alt:before {content: "\f093";}
.icon-globe:before {content: "\f0ac";}
.icon-download-alt:before {content: "\f019";}
.icon-time:before {content: "\f017";}
.icon-check:before {content: "\f046";}
.icon-check-empty:before {content: "\f096";}
.icon-thumbs-up:before {content: "\f164";}
.icon-thumbs-down:before {content: "\f165";}
.icon-reply:before {content: "\f112";}
.icon-search2:before {content: "\e001";}
.icon-move:before {content: "\e002";}
.icon-database:before {content: "\e003";}
.icon-target:before {content: "\e004";}
.icon-pen-alt2:before {content: "\e005";}
.icon-brush:before {content: "\e006";}
.icon-brush-alt:before {content: "\e007";}
.icon-eyedropper:before {content: "\e008";}
.icon-pen-alt-fill:before {content: "\e009";}
.icon-pen-alt-stroke:before {content: "\e00a";}
.icon-pen:before {content: "\e00b";}
.icon-share:before {content: "\e00c";}
.icon-key-stroke:before {content: "\e00d";}
.icon-key-fill:before {content: "\e00e";}
.icon-magnifying-glass:before {content: "\e00f";}
.icon-pin:before {content: "\e010";}
.icon-paste:before {content: "\f0ea";}
.icon-polygon:before {content: "\e600";}
